    {% load static %}
    <!--== Start Footer Area Wrapper ==-->
    <footer class="footer-area reveal-footer">
        <div class="container">
            <div class="row">
                <div class="col-12">
            
                    <div class="footer-widget-area sp-y">
                        <div class="row mtn-35">
                            <div class="col-md-6 col-lg-3">
                                <div class="widget-item">
                                    <div class="about-widget"><a href="index.html"><img src="{% static 'img/logo-light.png' %}"
                                                alt="Logo"></a>
                                        <p>During the summer my wife and I got to go on an amazing road trip in
                                            Vancouver Mountain.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-2 ml-auto">
                                <div class="widget-item">
                                    <h4 class="widget-title">ABOUT US</h4>
                                    <div class="widget-body">
                                        <ul class="widget-list">
                                            <li><a href="about.html">Our company</a></li>
                                            <li><a href="contact.html">Contact us</a></li>
                                            <li><a href="service.html">Our services</a></li>
                                            <li><a href="#">Careers</a></li>
                                            <li><a href="team.html">Our team</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-2 ml-auto">
                                <div class="widget-item">
                                    <h4 class="widget-title">CONNECT</h4>
                                    <div class="widget-body">
                                        <ul class="widget-list">
                                            <li><a href="#">Facebook</a></li>
                                            <li><a href="#">Twitter</a></li>
                                            <li><a href="#">Dribbble</a></li>
                                            <li><a href="#">Instagram</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="widget-item">
                                    <h4 class="widget-title">STUDIO</h4>
                                    <div class="widget-body">
                                        <address>2005 Stokes Isle Apartment. 896, Washington 10010,
                                            USA<br>https://example.com<br>(+68) 120034509</address>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-copyright-area">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <nav class="footer-menu-wrap">
                                    <ul class="footer-menu nav justify-content-center justify-content-md-start">
                                        <li><a href="blog.html">Our Blog</a></li>
                                        <li><a href="portfolio.html">Latest Projects</a></li>
                                        <li><a href="contact.html">Contact Us</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-md-6 text-center text-md-right">
                                <div class="copyright-txt mt-sm-15">
                                    <p>&copy; Arden Studio
                                        <script>document.write(new Date().getFullYear())</script>. Made with <span
                                            class="text-danger">&hearts;</span> by HasThemes
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer> 
    <!--== End Footer Area Wrapper ==-->