{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}

<main class="site-wrapper site-wrapper-reveal">
    <!--== Start Hero Slider Area ==-->
    <div class="hero-slider-area">
        <div id="rev_slider_16_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container"
            data-alias="creative-agency" data-source="gallery">
            <!-- START REVOLUTION SLIDER 5.4.7 fullwidth mode -->
            <div id="rev_slider_16_1" class="rev_slider fullwidthabanner" data-version="5.4.7">
                <ul>
                    <!-- SLIDE  -->
                    <li data-index="rs-42" data-transition="slidingoverlayleft,parallaxtoright"
                        data-slotamount="default,default" data-hideafterloop="0" data-hideslideonmobile="off"
                        data-easein="default,default" data-easeout="default,default" data-masterspeed="default,default"
                        data-thumb="assets/img/slider/creative-agency/100x50_02creative-01.jpg" data-rotate="0,0"
                        data-saveperformance="off" data-title="Slide">
                        <!-- MAIN IMAGE --> <img src="{% static 'img/slider/creative-agency/02creative-01.jpg' %}"
                            alt="Arden" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                            data-bgparallax="15" class="rev-slidebg" data-no-retina><!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption" id="slide-42-layer-1" data-x="['center','center','center','center']"
                            data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']"
                            data-voffset="['348','248','420','274']" data-fontsize="['150','120','110','70']"
                            data-lineheight="['130','110','90','60']" data-width="none" data-height="none"
                            data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-responsive="off"
                            data-frames='[{"delay":10,"speed":1340,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":310,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textalign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">
                            creative<br>agency</div><!-- LAYER NR. 2 -->
                        <div class="tp-caption" id="slide-42-layer-3" data-x="['center','center','center','center']"
                            data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']"
                            data-voffset="['293','203','353','218']" data-fontsize="['20','20','20','14']"
                            data-width="none" data-height="none" data-whitespace="nowrap"
                            data-visibility="['on','on','on','off']" data-type="text" data-responsive_offset="on"
                            data-responsive="off"
                            data-frames='[{"delay":1000,"speed":910,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":310,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">
                            GROW YOUR BRAND</div><!-- LAYER NR. 3 -->
                        <div class="tp-caption Button-Outline-Secondary rev-btn" id="slide-42-layer-5"
                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                            data-y="['top','top','top','top']" data-voffset="['671','541','671','500']"
                            data-width="none" data-height="none" data-whitespace="nowrap" data-type="button"
                            data-responsive_offset="on" data-responsive="off"
                            data-frames='[{"delay":1290,"speed":840,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255,255,255,1);bg:rgb(242,182,54);"}]'
                            data-textalign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[30,30,30,30]" data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[30,30,30,30]">LEARN MORE</div>
                    </li><!-- SLIDE  -->
                    <li data-index="rs-43" data-transition="slidingoverlayleft,parallaxtoright"
                        data-slotamount="default,default" data-hideafterloop="0" data-hideslideonmobile="off"
                        data-easein="default,default" data-easeout="default,default" data-masterspeed="default,default"
                        data-thumb="assets/img/slider/creative-agency/100x50_02creative-02.jpg" data-rotate="0,0"
                        data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3=""
                        data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9=""
                        data-param10="" data-description="">
                        <!-- MAIN IMAGE --> <img src="{% static 'img/slider/creative-agency/02creative-02.jpg' %}"
                            alt="Arden" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                            data-bgparallax="15" class="rev-slidebg" data-no-retina><!-- LAYERS -->
                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption" id="slide-43-layer-1" data-x="['left','left','left','left']"
                            data-hoffset="['570','380','100','30']" data-y="['top','top','top','top']"
                            data-voffset="['371','257','450','274']" data-fontsize="['90','80','60','40']"
                            data-lineheight="['90','80','60','50']" data-width="none" data-height="none"
                            data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-responsive="off"
                            data-frames='[{"delay":10,"speed":1340,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":310,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">
                            Modern digital<br>creative agency.</div>
                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption Button-Outline-Primary rev-btn btn-bordered" id="slide-43-layer-5"
                            data-x="['left','left','left','left']" data-hoffset="['570','380','100','60']"
                            data-y="['top','top','top','top']" data-voffset="['613','466','647','480']"
                            data-width="none" data-height="none" data-whitespace="nowrap" data-type="button"
                            data-responsive_offset="on" data-responsive="off"
                            data-frames='[{"delay":1290,"speed":840,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(24,33,65);"}]'
                            data-textalign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[30,30,30,30]" data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[30,30,30,30]">LEARN MORE</div>
                    </li><!-- SLIDE  -->
                    <li data-index="rs-44" data-transition="fade" data-slotamount="default" data-hideafterloop="0"
                        data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300"
                        data-thumb="assets/img/slider/creative-agency/100x50_02creative-03.jpg" data-rotate="0"
                        data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3=""
                        data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9=""
                        data-param10="" data-description="">
                        <!-- MAIN IMAGE --> <img src="{% static 'img/slider/creative-agency/02creative-03.jpg' %}"
                            alt="Arden" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                            data-bgparallax="15" class="rev-slidebg" data-no-retina><!-- LAYERS -->
                        <!-- LAYER NR. 6 -->
                        <div class="tp-caption" id="slide-44-layer-1" data-x="['center','center','center','center']"
                            data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']"
                            data-voffset="['320','260','320','290']" data-fontsize="['100','80','70','50']"
                            data-lineheight="['100','80','70','50']" data-width="none" data-height="none"
                            data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                            data-frames='[{"delay":0,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textalign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">
                            ABSOLUTELY<br>AWESOME</div><!-- LAYER NR. 7 -->
                        <div class="tp-caption Button-Outline-Secondary rev-btn" id="slide-44-layer-2"
                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                            data-y="['top','top','top','top']" data-voffset="['584','464','514','434']"
                            data-width="none" data-height="none" data-whitespace="nowrap" data-type="button"
                            data-responsive_offset="on" data-responsive="off"
                            data-frames='[{"delay":540,"speed":710,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255,255,255,1);bg:rgb(242,182,54);"}]'
                            data-textalign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[30,30,30,30]" data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[30,30,30,30]">OUR SERVICES</div>
                    </li>
                </ul>
                <div class="tp-bannertimer tp-bottom"></div>
            </div>
        </div>
    </div>
    <!--== End Hero Slider Area ==-->
    <!--== Start About Area ==-->
    <section class="about about-creative">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto text-center">
                    <div class="about-content">
                        <div class="section-title">
                            <h5>Who are we</h5>
                        </div>
                        <h3>Success is no accident. It is hard work, perseverance, learning, studying, sacrifice and
                            most of all, love of what you are doing or learning to do.</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== End About Area ==-->
    <!--== Start Portfolio Area ==-->
    <section class="portfolio-wrapper">
        <div class="container-fluid">
            <div class="row mtn-30">
                <div class="col-sm-6 col-lg-4">
                    <div class="portfolio-item">
                        <div class="portfolio-item__thumb"><a href="portfolio-details.html"><img
                                    src="{% static 'img/portfolio/portfolio-01.jpg' %}" alt="Arden-Portfolio"></a></div>
                        <div class="portfolio-item__info">
                            <h3 class="title"><a href="portfolio-details.html">Fullscreen Slider</a></h3><a
                                href="portfolio-details.html" class="category">photo</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="portfolio-item">
                        <div class="portfolio-item__thumb"><a href="portfolio-details.html"><img
                                    src="{% static 'img/portfolio/portfolio-02.jpg' %}" alt="Arden-Portfolio"></a></div>
                        <div class="portfolio-item__info">
                            <h3 class="title"><a href="portfolio-details.html">Video</a></h3><a
                                href="portfolio-details.html" class="category">graphic, photo</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="portfolio-item">
                        <div class="portfolio-item__thumb"><a href="portfolio-details.html"><img
                                    src="{% static 'img/portfolio/portfolio-03.jpg' %}" alt="Arden-Portfolio"></a></div>
                        <div class="portfolio-item__info">
                            <h3 class="title"><a href="portfolio-details.html">Image Slider</a></h3><a
                                href="portfolio-details.html" class="category">graphic</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <div class="portfolio-footer mt-50 mt-sm-30"><a href="portfolio.html" class="btn btn-bottom">See
                            all Works</a></div>
                </div>
            </div>
        </div>
    </section>
    <!--== End Portfolio Area ==-->
    <!--== Start Service Area ==-->
    <div class="service-area sp-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="service-skill-area">
                        <div class="row mtn-30">
                            <div class="col-sm-6">
                                <div class="skill-item text-center">
                                    <div class="skill-item__progress">
                                        <div class="ht-pie-chart" data-percent="90" data-bar-color="#f2b636"
                                            data-size="180"></div>
                                    </div>
                                    <div class="skill-item__txt">
                                        <h2 class="h6">Brand strategy</h2>
                                        <p>We have a solid process for building your brand.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="skill-item text-center">
                                    <div class="skill-item__progress">
                                        <div class="ht-pie-chart" data-percent="60" data-bar-color="#182141"
                                            data-size="180"></div>
                                    </div>
                                    <div class="skill-item__txt">
                                        <h2 class="h6">Digital solutions</h2>
                                        <p>Your website is the cornerstone of your market.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 ml-auto">
                    <div class="service-content-wrap mt-md-40 mt-sm-40">
                        <h4>Services</h4>
                        <ul class="ht-list mt-25 mt-sm-15">
                            <li>Branding strategy & identity</li>
                            <li>Marketing campaign & PR</li>
                            <li>Website and app designing</li>
                            <li>Video production & editing</li>
                            <li>User experience designing</li>
                            <li>Content creating & maker</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Service Area ==-->
    <!--== Start Testimonial Area ==-->
    <div class="testimonial-area sm-top-wp">
        <div class="testimonial-header-area bg-img" data-bg="{% static 'img/testimonial/creative-testi-bg.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="section-title">
                            <h5>Our Clients</h5>
                            <h2>What they say about us</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonial-content-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Testimonial Carousel Content -->
                        <div class="testimonial-content">
                            <!-- Start Single Testimonial Item -->
                            <div class="testimonial-item">
                                <h6 class="client-title">Rex Watson</h6><span class="client-designation">Everline,
                                    Product Manager</span>
                                <figure class="client-thumb"><img src="{% static 'img/testimonial/client-01.jpg' %}"
                                        alt="Client"></figure>
                                <p>“Amazing fast and reliable customer support! The team of developers are willing
                                    to go mile for customer service! Thanks!”</p>
                            </div><!-- End Single Testimonial Item -->
                            <!-- Start Single Testimonial Item -->
                            <div class="testimonial-item">
                                <h6 class="client-title">Blanche Fields</h6><span class="client-designation">Nord,
                                    Marketing</span>
                                <figure class="client-thumb"><img src="{% static 'img/testimonial/client-02.jpg' %}"
                                        alt="Client"></figure>
                                <p>“Excellent support, fast and very didactic answers. The design meets the
                                    expectations import develops very quickly a website.”</p>
                            </div><!-- End Single Testimonial Item -->
                            <!-- Start Single Testimonial Item -->
                            <div class="testimonial-item">
                                <h6 class="client-title">Barney Smith</h6><span class="client-designation">Fantuno,
                                    PR officer</span>
                                <figure class="client-thumb"><img src="{% static 'img/testimonial/client-03.jpg' %}"
                                        alt="Client"></figure>
                                <p>“Great theme, just what we were looking for. Easy to install, easy to navigate.
                                    Well documented. Really enjoyed the support.”</p>
                            </div><!-- End Single Testimonial Item -->
                            <!-- Start Single Testimonial Item -->
                            <div class="testimonial-item">
                                <h6 class="client-title">Dean Casey</h6><span class="client-designation">Lemimum,
                                    Marketing</span>
                                <figure class="client-thumb"><img src="{% static 'img/testimonial/client-04.jpg' %}"
                                        alt="Client"></figure>
                                <p>“Their customer support was amazing. Their help was quick and gave me very clear
                                    instructions to follow.”</p>
                            </div><!-- End Single Testimonial Item -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Testimonial Area ==-->
    <!--== Start Brand Logo Area ==-->
    <div class="brand-logo-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="brand-logo-content">
                        <div class="brand-logo-item"><a href="#"><img src="{% static 'img/brand-logo/brand_01.png' %}"
                                    alt="Arden-Logo"></a></div>
                        <div class="brand-logo-item"><a href="#"><img src="{% static 'img/brand-logo/brand_02.png' %}"
                                    alt="Arden-Logo"></a></div>
                        <div class="brand-logo-item"><a href="#"><img src="{% static 'img/brand-logo/brand_03.png' %}"
                                    alt="Arden-Logo"></a></div>
                        <div class="brand-logo-item"><a href="#"><img src="{% static 'img/brand-logo/brand_04.png' %}"
                                    alt="Arden-Logo"></a></div>
                        <div class="brand-logo-item"><a href="#"><img src="{% static 'img/brand-logo/brand_05.png' %}"
                                    alt="Arden-Logo"></a></div>
                        <div class="brand-logo-item"><a href="#"><img src="{% static 'img/brand-logo/brand_06.png' %}"
                                    alt="Arden-Logo"></a></div>
                        <div class="brand-logo-item"><a href="#"><img src="{% static 'img/brand-logo/brand_04.png' %}"
                                    alt="Arden-Logo"></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Brand Logo Area ==-->
    <!--== Start Call to Action Area ==-->
    <div class="call-to-action-wrapper parallax bg-img" data-parallax-speed="0.75"
        data-bg="assets/img/call-to/call-to-bg-1.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="call-to-action-content">
                        <div class="call-to-action-content-inner">
                            <h2>Daily agency life.</h2><a href="#" class="btn btn-bordered">Explore our culture</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Call to Action Area ==-->
    <!--== Start Blog Post Area ==-->
    <div class="blog-post-area sp-y bg-softWhite">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="section-title">
                        <h5>RANDOM STUFF</h5>
                        <h2>From our blog</h2>
                    </div>
                </div>
            </div>
            <div class="row mtn-30">
                <!-- Start Blog Post Item -->
                <div class="col-md-6 col-lg-4">
                    <div class="post-item matchHeight"><span class="post-day">10</span>
                        <div class="post-thumb" data-bg="{% static 'img/blog/blog-01.jpg' %}"></div>
                        <div class="post-info"><a class="post-info__cate" href="blog.html">Business</a>
                            <h4 class="post-info__title"><a href="blog-details.html">Weekend trip</a></h4>
                            <div class="post-info__meta"><a href="#">March 10, 2019</a></div>
                            <div class="post-info__excerpts">
                                <p>Treat yourself to a night re-living the golden age of the railway with a stay at
                                    The Old Railway Station in Petworth, West Sussex.</p>
                            </div>
                            <div class="post-info__action"><a href="blog-details.html" class="btn btn-bottom">Read
                                    full Post</a></div>
                        </div>
                    </div>
                </div><!-- End Blog Post Item -->
                <!-- Start Blog Post Item -->
                <div class="col-md-6 col-lg-4">
                    <div class="post-item matchHeight"><span class="post-day">26</span>
                        <div class="post-thumb" data-bg="assets/img/blog/blog-02.jpg"></div>
                        <div class="post-info"><a class="post-info__cate" href="blog.html">Life Style</a>
                            <h4 class="post-info__title"><a href="blog-details.html">Become Who You Say You Always
                                    Will</a></h4>
                            <div class="post-info__meta"><a href="#">March 26, 2019</a></div>
                            <div class="post-info__excerpts">
                                <p>If I have a chance to whisper the best advice to a baby and he’ll remember it for
                                    the rest of his life is this: ENJOY YOUR LIFE. Nothing</p>
                            </div>
                            <div class="post-info__action"><a href="blog-details.html" class="btn btn-bottom">Read
                                    full Post</a></div>
                        </div>
                    </div>
                </div><!-- End Blog Post Item -->
                <!-- Start Blog Post Item -->
                <div class="col-md-6 col-lg-4">
                    <div class="post-item matchHeight"><span class="post-day">09</span>
                        <div class="post-thumb" data-bg="assets/img/blog/blog-03.jpg"></div>
                        <div class="post-info"><a class="post-info__cate" href="blog.html">Travel</a>
                            <h4 class="post-info__title"><a href="blog-details.html">Explore Vancouver Mountain</a>
                            </h4>
                            <div class="post-info__meta"><a href="#">April 09, 2019</a></div>
                            <div class="post-info__excerpts">
                                <p>During the summer my wife and I got to go on an amazing road trip in Vancouver
                                    Mountain with our good friends Samuel and Hildegunn Taipale</p>
                            </div>
                            <div class="post-info__action"><a href="blog-details.html" class="btn btn-bottom">Read
                                    full Post</a></div>
                        </div>
                    </div>
                </div><!-- End Blog Post Item -->
            </div>
        </div>
    </div>
    <!--== End Blog Post Area ==-->
</main>
{% endblock %}