<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Page not Found </title>
    <!--== Favicon ==-->
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
    <!--== Google Fonts ==-->
    <link href="https://fonts.googleapis.com/css?family=Karla:400,400i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/app.min.css">
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="preloader-active">
    <!--== Start Page Not Found Content Area ==-->
    <div class="page-not-found-content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="page-not-found-content text-center">
                        <div class="page-not-found-content-inner text-center"><a href="index.html" class="logo"><img
                                    src="assets/img/logo.png" alt="Arden"></a>
                            <div class="page-not-found-thumb"><img src="assets/img/extra/page-not-found.png"
                                    alt="Arden"></div>
                            <div class="page-not-found-txt">
                                <h4>Oops, looks like this page doesn't exist</h4>
                                <p>You could either go back or go to homepage</p>
                                <div class="page-not-found-buttons"><a href="index.html" class="btn-bordered">Go
                                        Back</a> <a href="index.html" class="btn-brand">Homepage</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Page Not Found Content Area ==-->
    <!--=======================Javascript============================-->
    <script src="assets/js/app.min.js"></script>
</body>

</html>